
body{
    background-image: url(https://i.imgur.com/CWuWrOk.gif);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  p{
    color: cyan
  }
  
  img{
    text-align: center;
    width: 200px;
    height: 170px;
  }